.cat{
    width: 250px;
    height:auto;
}

.dog{
    width: 250px;
    height:auto;
}

.fire{
    width: 250px;
    height:auto;
}

.magic{
    width: 250px;
    height:auto;
}

.robot{
    width: 250px;
    height:auto;
}

.tesla{
    width: 250px;
    height:auto;
}